/PracticalWebServices/AdditionOprartion/nbproject/private/
/PracticalWebServices/CalculationWebServices/nbproject/private/
/PracticalWebServices/CalculatorWSApplication/nbproject/private/
/PracticalWebServices/CalculatorWSApplication/build/
/PracticalWebServices/CalculatorWS_Client_Application/nbproject/private/
/PracticalWebServices/CalculatorWS_Client_Application/build/
/PracticalWebServices/ CalculatorWSServletClient/nbproject/private/
/PracticalWebServices/ CalculatorWSServletClient/build/
/PracticalWebServices/ CalculatorWSServletClient/dist/
/PracticalWebServices/ CalculatorWSJSPClient/nbproject/private/
/PracticalWebServices/ CalculatorWSJSPClient/build/
/PracticalWebServices/ CalculatorWSJSPClient/dist/